<div class="container-fluid">
	<div ng-controller="pagesCtrl"><!-- ng-controller -->
		<div class="row">
			<div class="col-lg-12">
				<span ng-if="pageContent =='survey'" >
					<div class="tab-pane active">
						<div class='panel panel-default'>
							<div class="panel-heading">
								<h3> Site Survey</h3>
							</div>
							<div class="panel-body">
								<form class='form-horizontal' name="siteSurveyForm">
									<div class="col-lg-10">
                                        <div class="form-group" ng-if="siteSurvey.LoRaStatus !== 0">
                                            <label class='col-lg-2 control-label'></label>
                                            <div class='col-lg-10'>
                                                <div class='panel panel-primary' style="text-align:center;">
                                                    <div class="panel-heading">
                                                        <h4>LoRa Status</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <h3>{{siteSurvey.LoRaStatusMap[siteSurvey.LoRaStatus]}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<div class="form-horizontal" ng-if="siteSurvey.LoRaStatus === 0">
											<label class='col-lg-4 control-label'>Amount of network packets to send</label>
											<div class='col-lg-6'>
												<input type='number' ng-model="siteSurvey.surveyPacketAmount" class='form-control' min=2 max=5000 ng-disabled="siteSurvey.surveyStatus=='start'" required>
											</div>
										</div>
										<div class="form-group">&nbsp;</div>
										<div class="form-horizontal" ng-if="siteSurvey.LoRaStatus === 0">
											<label class="col-lg-4 control-label">Retry</label>
											<div class="col-lg-6">
												<input type="checkbox" ng-model="siteSurvey.numberOfRetries" ng-true-value="3" ng-false-value="0" ng-checked="siteSurvey.numberOfRetries == 3" id="retry">
											</div>
										</div>
										<div class="form-group">&nbsp;</div>
										<div class="form-horizontal" ng-if="siteSurvey.LoRaStatus === 0">
											<label class='col-lg-4 control-label'></label>
											<div class='col-lg-6'>
												<button  class='btn btn-success' ng-show="siteSurvey.surveyStatus=='stop'" ng-click="btnSiteSurveyClick(1)" ng-disabled="siteSurveyForm.$error.required || !siteSurveyForm.$valid">
													<i class="fa fa-check"></i> Start
												</button>
												<button  class='btn btn-warning' ng-show="siteSurvey.surveyStatus=='start'" ng-click="btnSiteSurveyClick(0)">
													<i class="fa fa-check"></i> Cancel
												</button>
											</div>
										</div>
										<div class="form-group">&nbsp;</div>
										<div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-4 control-label'>Sending Packet: #{{siteSurvey.currentPacketSend}}</label>
										</div>
										<div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-4 control-label'>Success Packets: {{siteSurvey.successPacketCount}}</label>
										</div>
										<div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-4 control-label'>Failed Packets: {{siteSurvey.failedPacketCount}}</label>
										</div>
										<div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-2 control-label'></label>
											<div class='col-lg-10'>
													<div class='panel panel-warning' style="text-align:center;">
														<div class="panel-heading">
															<h4> Packet Error Rate</h4>
														</div>
														<div class="panel-body">
															<h3>{{siteSurvey.packetErrorRate}} </h3>
														</div>
													</div>
											</div>
										</div>
										<!-- <div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-2 control-label'></label>
											<div class='col-lg-10'>
												<div class="panel panel-info"> -->
													<!-- Default panel contents -->
													<!-- <div class="panel-heading" style="text-align:center;">
														RSSI
													</div>
													<table class="table" style="table-layout:fixed;">
														<thead>
															<tr>
																<th class="text-center">Max: {{siteSurvey.maxRssi}}</th>
																<th class="text-center">Min: {{siteSurvey.minRssi}}</th>
																<th class="text-center">Average: {{siteSurvey.avgRssi}}</th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div> -->
										<!-- <div class="form-group" ng-if="siteSurvey.bBtnClicked && hasTmOrErr">
											<label class='col-lg-2 control-label'></label>
											<div class='col-lg-10'>
												<div class="panel panel-success">
													<div class="panel-heading" style="text-align:center;">
														Backoff Number
													</div>
													<table class="table" style="table-layout:fixed;">
														<thead>
															<tr>
																<th class="text-center">Max: {{siteSurvey.maxBackoffNumber}}</th>
																<th class="text-center">Min: {{siteSurvey.minBackoffNumber}}</th>
																<th class="text-center">Average: {{siteSurvey.avgBackoffNumber}}</th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>-->
										<div class="form-group" ng-if="siteSurvey.bBtnClicked">
											<label class='col-lg-2 control-label'></label>
											<div class='col-lg-10'>
												<div class="panel panel-danger">
													<div class="panel-heading" style="text-align:center;">
														Fail Status
													</div>
													<table class="table" style="table-layout:fixed;">
														<thead>
															<tr>
																<th class="text-center">No Ack: {{siteSurvey.totalNoAck}}</th>
																<!-- <th class="text-center">Channel Busy: {{siteSurvey.totalChannelBusy}}</th> -->
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<label class='col-lg-4 control-label'></label>
											<div class='col-lg-6'>
												<button  class='btn btn-danger' ng-click="btnLeaveSiteSurveyClick()" ng-disabled="siteSurvey.surveyStatus=='start'">
													<i class="fa fa-check"></i> Leave Site Survey Mode
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</span>
				<span ng-if="pageContent =='apPacketStatus'">
					<div class="tab-pane active">
						<div class='panel panel-default'>
							<div class="panel-heading">
								<h3> Received Packet Status</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped table-responsive" style="margin-bottom: 5px">
										<thead>
											<tr>
												<th>MAC Address</th>
												<th>Total Packets</th>
												<th>Receive Packets</th>
												<th>Average RSSI</th>
												<th>Max RSSI</th>
												<th>Min RSSI</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in moduleList">
												<td>
													{{item.SLs}}
												</td>
												<td>
													{{item.Tm}}
												</td>
												<td>
													{{item.RT}}
												</td>
												<td>
													{{item.RA}}
												</td>
												<td>
													{{item.RH}}
												</td>
												<td>
													{{item.RL}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</span>
			</div>
		</div><!-- row -->
	</div>
</div>
